.label {
    -fx-text-fill: khaki;
    -fx-font-size: 30px;
}

#mainMenuPane {
    -fx-background-image: url("/io/github/teamdonut/proj/images/theme_2/title_2.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#score {
    -fx-text-fill: lightsteelblue;
    -fx-font-size: 20px;
}

#title {
    -fx-text-fill: khaki;
    -fx-font-family: Chalkduster;
    -fx-font-size: 30px;
    -fx-alignment: center;
}

#nameEntry {
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-alignment: center;
    -fx-min-height: 50;
    -fx-max-height: 50;
    -fx-min-width: 60;
    -fx-max-width: 200;
    -fx-font-size: 20px;
    -fx-font-family: Chalkduster;
}
#entry {
    -fx-alignment: center;
    -fx-background-color: black;
    -fx-text-fill: khaki;
    -fx-font-size: 20;
    -fx-font-family: Chalkduster;
}
#boardPage {
    -fx-background-image: url("/io/github/teamdonut/proj/images/common/main_03.png");
    -fx-background-size: 800 450;
}

#intermediatePage {
    -fx-background-image: url("/io/github/teamdonut/proj/images/common/main_03.png");
    -fx-background-size: 800 450;
}