.label {
    -fx-text-fill: blue;
    -fx-font-size: 30px;
}

#mainMenuPane {
    -fx-background-image: url("/io/github/teamdonut/proj/images/theme_2/title_2.png");
    -fx-background-repeat: stretch;
    -fx-background-size: cover;
    -fx-background-position: center center;
}


#boardPage {
    -fx-background-image: url("/io/github/teamdonut/proj/images/theme_1/gradient_yelloworange.png");
    -fx-background-size: 800 450;
}